.section__portfolio {
    padding: 5% 0 8% 0;
    @include mobile {
        padding: 0 0 10% 0;
    }
}
.portfolio__conteiner {
    margin: 0 auto;
    width: 1202px;
    max-width: 100%;
}
.portfolio__title {
    font-family: 'NextReg';
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 50px;
    @include mobile {
        font-size: 30px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}
.portfolio__work {
    display: flex;
    padding: 50px;
    background: $colorBg;
    box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
    border-radius: 29px;
    @include mobile {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
    @include tablets {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
}
.portfolio__img {
    margin-right: 80px;
    @include tablets {
        margin-right: 0;
    }
    @include mobile {
        margin-right: 0;
    }
}
.portfolio__pic {
    @include mobile {
        width: 250px;
    }
}
.portfolio__content {
    text-align: center;
    font-family: 'Arodora';
    padding: 20px 0;
}
.portfolio__subtitle {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.portfolio__text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.second__button {
    font-size: 18px;
    color: #E2A100;
    border: none;
    background: none;
}
.second__button:after {
    content: url(../image/arrow.png);
    width: 13px;
    height: 8px;
    margin-left: 7px;
}
/*footer*/
.footer {
    background: $colorBg;;
    padding: 3% 0;
    @include mobile {
        padding: 0;  
}
}
.footer__container {
    width: 1202px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mobile {
        flex-direction: column;
        padding: 20px 0;
        align-items: center;
    }
}
.footer__link {
    text-decoration: none;
    font-size: 18px;
    font-family: Arodora;
    color: #E4E4E4;
    display: block;
    margin-bottom: 18px;
}
.footer__contacts {
    @include mobile {
        margin-bottom: 3%;
    }
}
.soc__list {
    display: flex;
    align-items: center;
    list-style: none;
}
.soc__item {
    margin-right: 10px;
}
.soc__item:last-child {
    margin-right: 0;
}
.soc__icon {
    fill: #fff;
    width: 40px;
    height: 40px;
    transition: .5s;
}
.soc__icon:hover {
    fill: #00C1EC;
    ;
}
.footer__logo {
    text-align: center;
}
.logo__text {
    color:#E4E4E4;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Arodora;
    font-weight: 700;
    text-shadow: 1px 0 #537387;
    letter-spacing: 1px;
    @include mobile {
        font-size: 16px;
    }
span {
    color:#00C1EC;
    font-family: Arodora;
    text-transform: uppercase;
    @include mobile {
        font-size: 16px;
    }
    }
}
.copyright {
    color:#E4E4E4;
    font-family: Arodora;
    font-size: 18px;
}
